// app global css
.head-title
    margin 10px 0

.small-text
    font-size 12px

.extra-small-text
    font-size: 11px

.success
    color green

.warning
    color red

.btn-auth
    background #7030A0
    color white
    width 240px
.progress
    position absolute
    top 50%
    left 50%
    transform translate(-100%, -50%)
html, body
    font-family: 'Merriweather', serif;
.bg
    border: 1px solid green
.hr:hover
    background: #eee !important