// app global css
.head-title
    margin 10px 0

.small-text
    font-size 12px

.extra-small-text
    font-size: 11px

.success
    color green

.warning
    color red

.btn-auth
    background #7030A0
    color white
    width 240px
.progress
    position absolute
    top 50%
    left 50%
    transform translate(-100%, -50%)
html, body
    // font-family: 'Merriweather', serif;
.bg
    border: 1px solid green
.bp
    border: 1px solid pink
.br
    border: 1px solid red
.hr:hover
    background: #eee !important
*, html, body
    box-sizing: border-box
    oveflow: hidden
:root
    box-sizing: border-box
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
::-webkit-scrollbar {
  width: 4px
  height: 4px !important
}
::-webkit-scrollbar-thumb {
  background: black
}
a
  text-decoration: none !important
  color: black
a:visited
  color black