html, body
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif;
.br
  border: 1px solid red
.bg
  border: 1px solid green
.bb
  border: 1px solid blue
.bo
  border: 1px solid orange
.bw
  border: 1px solid white
.hr:hover
  background: #DBDBDB !important    
::-webkit-scrollbar
  width: 0px
  height: 0px !important
::-webkit-scrollbar-thumb
  background: black
.q-btn
  border-radius: 10px
.q-header
  background: none !important
.q-footer
  background: none !important
h1
  font-size: 60px
  font-weight: 400
  margin: 0
a
  text-decoration: none !important
  color: black
  &:visited
    color: black