<!DOCTYPE html>
<html translate="no">
    <head>
        <title><%= productName %></title>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
        <!-- <meta name="viewport" content="user-scalable=no, height=device-height, minimum-scale=1, maximum-scale=1"> -->
        <meta charset="utf-8">
        <!--  <meta name="description" content="<%= productDescription %>">-->
        <meta name="description" content="Decentralized blockchain platform that makes it possible for an online community to develop a global knowledge map by incentivizing authors through a cryptocurrency reward system. Users can extract intrinsic meanings from any content available on the Web and build semantic interconnections (links), collectively assessing their accuracy and reliability. See details at https://kalpagrama.com">
        <meta name="twitter:card" content="summary">
        <meta name="og:image" content="https://6d8b0eee-1cb7-4d88-bf20-2960206b8644.selcdn.net/pv/lb/cover.jpg">
        <meta name="og:video" content="https://6d8b0eee-1cb7-4d88-bf20-2960206b8644.selcdn.net/4z/rn/317045963648712753_360p_content.mp4?rev=14">
        <meta name="og:video:type" content="video/mp4">
        <meta name="og:video:width" content="640">
        <meta name="og:video:height" content="360">

        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="theme-color" content="#424242"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="google" value="notranslate">

        <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
        <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
        <link rel="icon" type="image/ico" href="favicon.ico">
        <!--      это по идее надо для заставки  у IOS есть возможно закрепить url на рабочем столе. apple-touch-startup-image закрывает экран пока safari грузит url -->
        <!--      нам это не надо тк у нас PWA и  есть манифест -->
        <!-- iPhone 12 Pro Max -->
        <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)" href="icons/apple-launch-1284x2778.png">
        <!-- iPhone 12, 12 Pro -->
        <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)" href="icons/apple-launch-1170x2532.png">
        <!-- iPhone XR, 11 -->
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-828x1792.png">
        <!-- iPhone X, XS, 12 mini, 11 Pro -->
        <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="icons/apple-launch-1125x2436.png">
        <!-- iPhone XS Max, 11 Pro Max -->
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="icons/apple-launch-1242x2688.png">
        <!-- iPhone 8, 7, 6s, 6 -->
        <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-750x1334.png">
        <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus -->
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="icons/apple-launch-1242x2208.png">
        <!-- iPad 10.2" -->
        <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-1620x2160.png">
        <!-- iPad Mini, Air, 9.7" -->
        <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-1536x2048.png">
        <!-- iPad Pro 10.5" -->
        <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-1668x2224.png">
        <!-- iPad Pro 11" -->
        <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-1668x2388.png">
        <!-- iPad Pro 12.9" -->
        <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="icons/apple-launch-2048x2732.png">

<!--        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic" rel="stylesheet">-->
<!--        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">-->
        <style>
            #tawkchat-minified-box {
                bottom: 120px !important;
            }
            #kalpa-loading {
                position: fixed;
                z-index: 10000;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 100vh;
                width: 100%;
                background: rgb(30,30,30);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
            .kalpa-loading-text {
                font-family: sans-serif !important;
                font-size: 20px !important;
                font-weight: 300 !important;
                line-height: 1 !important;
            }
            .loader {
                border: 4px solid rgb(60,60,60);
                border-top: 4px solid rgb(76,175,80);
                border-radius: 50%;
                width: 60px;
                height: 60px;
                animation: spin 2s linear infinite;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            //#chatra:not(.chatra--expanded) {
            //    visibility: hidden !important;
            //    opacity: 0 !important;
            //    pointer-events: none;
            //    transition: none;
            //}
        </style>
        <!-- Setup -->
        <!-- /Yandex.Metrika counter -->
        <script async>
            window.yaCounterId = 60818698
            window.ChatraSetup = {
                yaCounterId: window.yaCounterId
            };
        </script>
        <script async type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            ym(window.yaCounterId, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: window.location.href.includes('local') ? false : false
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/60818698" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <!--        <script>-->
        <!--            (function(d, w, c) {-->
        <!--                w.ChatraID = 'jdd2vnDGM9XbW6r4W';-->
        <!--                var s = d.createElement('script');-->
        <!--                w[c] = w[c] || function() {-->
        <!--                    (w[c].q = w[c].q || []).push(arguments);-->
        <!--                };-->
        <!--                s.async = true;-->
        <!--                s.src = 'https://call.chatra.io/chatra.js';-->
        <!--                if (d.head) d.head.appendChild(s);-->
        <!--            })(document, window, 'Chatra');-->
        <!--        </script>-->
    </head>
    <body>
        <script>
           // document.addEventListener("DOMContentLoaded", () => {
           //    console.log('DOMContentLoaded')
           //    window.KALPA_LOAD_DOM = true
           //    document.getElementById('kalpa-loading-text').innerHTML = 'Настройка приложения...'
           // })
           //  setTimeout(() => { // предохранитель
           //      console.error('kalpaLoadingInterval too long! break it!!!!')
           //      window.KALPA_LOAD_COMPLETE = true
           //  }, 60 * 1000)
            let cnt = 0
            const kalpaLoadingInterval = setInterval(() => {
                if(((++cnt) % 10) === 0)console.count('kalpaLoadingInterval curr val=' + document.getElementById('kalpa-loading-text').innerHTML)
                // if(window.KALPA_LOAD_SW_STATUS){
                //    if (window.KALPA_LOAD_SW_STATUS === 'active') {
                //       document.getElementById('kalpa-loading-text').innerHTML = 'Настройка...'
                //    } else {
                //       document.getElementById('kalpa-loading-text').innerHTML = 'Инициализация...'
                //    }
                // }
                if (window.KALPA_LOAD_COMPLETE) {
                    let kalpaLoading = document.getElementById('kalpa-loading')
                    kalpaLoading.style.display = 'none'
                    clearInterval(kalpaLoadingInterval)
                }
            }, 100)
        </script>
        <div id="kalpa-loading">
            <div class="loader"></div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; width: 100%; padding: 10px">
                <span id="kalpa-loading-text" class="kalpa-loading-text" style="color: white">Загрузка...</span>
            </div>
        </div>
        <div id="q-app"></div>
    </body>
</html>
